{% extends '::base.html.twig' %}

{% block content %}
    <div>
        <div class="mainmenu-area">
            <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        
                        
                    
                    
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {# {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}  | #}  

                <li><a href="{{ path('fos_user_security_logout') }}" 
                        ng-click="switchTo('/home')"> Logout </a></li>
                <li class="dropdown" id="profile-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href>
                        <i class="glyphicon glyphicon-user"> {{ app.user.Username }} </i>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-elt">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/profile/change-password">Change password</a>
                    </ul>
                </li>
            {% else %}
                <!--a href="{{ path('fos_user_security_login') }}">Login</a-->
                <li><a href="{{ path('fos_user_security_login') }}" 
                        ng-click="switchTo('/login')"> Login </a></li>
                <li><a href="{{ path('fos_user_registration_register') }}" 
                        ng-click="switchTo('/register')"> Register </a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav">
                        <li><a href="/#/home">Home</a></li>
                        <li><a href="/#/show">Shop page</a></li>
                        <!--li><a href="/#/categories">Categories</a></li-->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="/#/checkout">Checkout</a></li>
                        {% endif %}
                    </ul>       
                </div>
            </div>
            </div>
        </div>    
    </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}
